@import "../abstracts/variables";
@import "../abstracts/mixins";

.footer {
  background-color: $black-color;
  padding: 4% 0 5%;
}
.footer__title {
  color: $ivory-color;
  font-size: $fs-base-d;
  font-weight: 700;
  text-transform: uppercase;
  @include flex-center;
}
.footer__info {
  @include flex-center;
  font-size: $fs-secondary-d;
  line-height: 20px;
  color: $wet-grey-color;
  margin-top: 5%;
}
.footer__icons__wrapper {
  margin: 5% 0 4%;
  @include flex-center;
  gap: 1%;
  &__icon {
    width: $circle;
    height: $circle;
    border: $icon-frame-default map-get($icon-colors, share);
    border-radius: 30px;
    @include flex-center;
    cursor: pointer;
  }
}
.footer__icons__wrapper__icon:nth-child(2) {
  border: $icon-frame-default map-get($icon-colors, fb);
}
.footer__icons__wrapper__icon:nth-child(3) {
  border: $icon-frame-default map-get($icon-colors, twitter);
}
.footer__icons__wrapper__icon:nth-child(4) {
  border: $icon-frame-default map-get($icon-colors, dribble);
}
.footer__icons__wrapper__icon:last-child {
  border: $icon-frame-default map-get($icon-colors, pinterest);
}
.footer__address {
  text-align: center;
  @include mq("tablet") {
    @include flex-center;
  }
}
.footer__address a,
.footer__address span {
  margin-right: 2%;
  font-size: $fs-base-m;
  line-height: 24px;
  color: $wet-grey-color;
  @include mq("tablet") {
    display: inline;
  }
}
