@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/font";

.header {
  padding: 7% 8% 5%;
  position: relative;
  @include end-positioning;
  @include mq("tablet") {
    @include flex-center;
  }
  &__burger {
    border: none;
    padding: 13px;
    height: 37px;
    width: 44px;
    background-color: $black-color;
    cursor: pointer;
    &.open {
      .header__burger__span-container {
        position: relative;
        &__line {
          &:first-child {
            position: absolute;
            transform: rotate(-45deg);
          }
          &:last-child {
            position: absolute;
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
    &__span-container {
      &__line {
        margin-bottom: 2px;
        display: block;
        height: 2px;
        width: 17px;
        background-color: $white-color;
      }
    }
    @include mq("tablet") {
      display: none;
    }
  }
}
.header__navigation {
  background-color: $light-grey-color;
  display: none;
  &.absolute {
    @media (max-width: map-get($breakpoints, "tablet")) {
      display: block;
      position: absolute;
      top: 75%;
    }
  }
  &__menu__item {
    padding: 12px 150px 10px 20px;
    white-space: nowrap;
    &:hover {
      background-color: $medium-grey-color;
      z-index: 20;
      & a {
        color: $light-green-color;
      }
    }
    & a {
      font-family: $font;
      font-size: $fs-secondary-m;
      line-height: 22px;
      text-transform: uppercase;
      color: $grey-color;
    }
  }
  @include mq("tablet") {
    display: block;
    background-color: $bg-color;
    &__menu {
      flex-direction: row;
      @include flex-center;
      gap: 12%;
      &__item {
        padding: 0;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
