@import "../abstracts/variables";
@import "../abstracts/mixins";
.posts {
  padding: 4% 0 8% 0;
}
.posts .title {
  @include mq("tablet") {
    display: block;
    font-size: $fs-base-d;
  }
}
.posts__wrapper {
  @include tiles;
  @include mq("tablet") {
    display: block;
    .post__item {
      margin-bottom: 3%;
    }
  }
  @include mq("desktop") {
    @include tiles;
  }
}

.post__item__info {
  & a {
    margin-top: 5%;
    display: block;
  }
  &__name {
    font-size: $fs-base-m;
    color: $grey-color;
    font-weight: bold;
    @include mq("tablet") {
      font-size: $fs-base-d;
    }
  }
  &__source {
    margin-top: 3%;
    font-size: $fs-secondary-m;
    color: $lighter-grey-color;
  }
  &__text {
    display: none;
  }
}
.post__item__image {
  object-fit: cover;
}
.post__item {
  @include mq("tablet") {
    display: flex;
    gap: 4%;
    flex-basis: 45%;
    flex-grow: 3;
    &__info__text {
      display: block;
      margin-top: 1.3%;
      font-size: $fs-base-m;
      line-height: 26px;
      color: $dark-grey-color;
    }
  }
}
