@import "../abstracts/variables";
@import "../abstracts/mixins";

.shots .titles .title:nth-child(2),
.shots .titles .title:last-child {
  display: none;
  @include mq("tablet") {
    display: block;
  }
}
.shots .titles {
  @include mq("tablet") {
    display: flex;
    justify-content: space-between;
  }
}

.shots .title:first-child {
  @include mq("tablet") {
    display: none;
    justify-content: space-between;
  }
}
.shots {
  padding: 5% 0 5% 0;
  &__wrapper {
    margin-top: 3%;
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
    max-height: 245px;
    overflow: hidden;
    &__shot {
      @include mq("tablet") {
        height: 30%;
        width: max(32%, 233px);
      }
      @include mq("desktop") {
        height: 23%;
        width: max(23%, 250px);
      }
    }
  }
  @include mq("tablet") {
    background-color: $light-grey-color;
  }
}
