@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/font";
@import "../abstracts/globals";
@import "header";
@import "posts";
@import "shots";
@import "footer";
@import "../abstracts/reset";
body {
  font-family: $font;
}

//MAIN BACKGROUND PHOTO
.bg {
  @include flex-center;
  &__image {
    height: 50%;
    width: 84%;
  }
}
//MAIN BACKGROUND PHOTO
