@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../../fonts/Roboto-Bold.ttf");
  font-weight: bold;
}
$font: "Roboto, sans-serif";
