@import "font";
@import "variables";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1160px;
  padding: 0 2.5%;
  margin-inline: auto;
}

li {
  font-style: normal;
}
.title {
  font-family: $font;
  font-weight: bold;
  text-transform: uppercase;
  color: $grey-color;
  font-size: $fs-base-m;
  margin-bottom: 4%;
}
