
.container {
  @include mq("phone") {
    .header {
      align-items: center;
    }
  }
}
//.header {
//  @media (min-width: $tablet) {
//    .header__navigation__menu {
//      display: flex;
//      gap: 34px;
//    }
//  }
//}
.header {
  //@include mq("phone") {
  //  .header__burger {
  //    display: none;
  //  }
  //  .header__navigation {
  //    display: block;
  //    background-color: $bg-color;
  //    &__menu {
  //      display: flex;
  //      flex-direction: row;
  //      gap: 60px;
  //      &__item {
  //        padding: 0;
  //        white-space: normal;
  //        &:hover {
  //          background-color: transparent;
  //        }
  //        & a {
  //          font-family: $font;
  //          font-size: $fs-secondary-m;
  //          line-height: 22px;
  //          text-transform: uppercase;
  //          color: $grey-color;
  //        }
  //      }
  //    }
  //  }
  //}
}
