@import "variables";

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin end-positioning {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
@mixin tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}