//Devices BP
$breakpoints: (
  "phone": 370px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1200px,
  "desktop-wide": 1440px,
);

//Colors
$bg-color: rgba(0, 0, 0, 0.0001);
$white-color: #ffffff;
$grey-color: #4e4e4e;
$dark-grey-color: #5c5c5c;
$lighter-grey-color: #7c7c7c;
$ivory-color: #fefefe;
$wet-grey-color: #b9b9b9;
$light-green-color: #57a4a4;
$light-grey-color: #f5f5f5;
$medium-grey-color: #e5e5e5;
$black-color: #000000;

$fs-base-d: 16px;
$fs-base-m: 14px;

$fs-secondary-m: 11px;
$fs-secondary-d: 12px;

//Footer color map
$icon-colors: (
  share: #f8902e,
  fb: #39599f,
  twitter: #45b0e3,
  dribble: #d97ab0,
  pinterest: #cc212c,
);
$icon-frame-default: 2px solid;
$circle: 34px;
